.admin-container {
    width: 100%;
    height: 88vh;
    margin-top: 3px;
    background-color: #D0BFFF;
   
  }
.admin-left{
  height: 70px;
  width: 100%;
  background-color: #e9e0ff;
  border: 2px solid #dddd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
  .admin-left{
    width: 200px;
    height: 100%;
    background-color: #D0BFFF;
  }
}


.btnMenu{
  margin-left: 8px;
  margin-bottom: 3px;
}