<div class="payment-container">
    <div class="container">
        abc
    </div>
    <div class="container">
      <form id="payment-form" (submit)="handleSubmit($event)">
        <div id="payment-message" *ngIf="message">{{ message }}</div>
        <div id="payment-element"></div>
        <button [disabled]="isLoading || !stripe || !elements" id="submit">
          <span id="button-text">
            {{ isLoading ? 'Lüften Bekleyiniz...' : 'Şimdi Öde' }}
          </span>
        </button>
      </form>
    </div>
  </div>
  