<div class="payment-container">
  <div class="container ">
    <div class="container">
        <div *ngFor="let basketItem of basketItems" class="item-container">
            <img  src="{{ baseUrl?.url }}/{{basketItem.imagePath}}" alt="Item Image" class="item-image">
            <a [routerLink]="['/products/detail/',basketItem.productId]" class="item-name">{{basketItem.name}}</a>
            <div class="item-price"><span style="color: rgb(255, 0, 0);">{{basketItem.price | currency:'TRY'}}</span><span style="color: rgb(38, 0, 255);">
              x
            </span></div>
            <div class="item-price"><span style="color: brown;">{{basketItem.quantity}}</span></div>
            <div class="item-price"> = <b>{{basketItem.totalPrice | currency:'TRY'}}</b> </div>
        </div>
        
            
        
    </div>
    <div class="container">
      <form id="payment-form" (submit)="handleSubmit($event)">
        <div id="payment-message" *ngIf="message">{{ message }}</div>
        <div id="payment-element"></div>
        <button [disabled]="isLoading || !stripe || !elements" id="submit">
          <span id="button-text">
            {{ isLoading ? 'Lüften Bekleyiniz...' : 'Şimdi Öde' }}
          </span>
        </button>
      </form>
    </div>
  </div>
  <div class="addresContainer">
    <div>
        <div>
            <h3 style="font-weight: 500;">Ad Soyad: <span>{{user?.updateProfile?.nameSurname}}</span></h3>
            
        </div>
        <div>
            <h3 style="font-weight: 500;">Toplam Sepet Tutarı: <span>{{totalAmount | currency:'TRY'}}</span></h3>
        </div>
      <div>
        <h3 style="font-weight: 500">Teslimat Adresi</h3>
        <h4>{{ order.address }}</h4>
      </div>
      <div>
        <h3 style="font-weight: 500">Sipariş Notunuz</h3>
        <h4 style="color: red;" *ngIf="order.description==''">Sipariş Notunuz Girilmemiş</h4>
        <h4>{{ order.description }}</h4>
      </div>
    </div>
  </div>
</div>
