.jumbotronHeader{
    font-size: xx-large;
    color: blue;
}
.jumbotronContent{
    font-size: large;
}
.HomeFooter{
    border: 1px solid black;
    border-top-right-radius:40px ;
    border-top-left-radius:40px ;
}