<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hoş Geldiniz!</h1>
        <p class="lead">En iyi ürünleri en iyi fiyatlarla bulabileceğiniz Cart Curt mağazamıza hoş geldiniz.</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Yeni Ürünler</h2>
                <div class="card">
                    <img style="width:auto; height: 400px;" src="https://picsum.photos/200/300" class="card-img-top" alt="Ürün 1">
                    <div class="card-body">
                        <h5 class="card-title">Ürün 1</h5>
                        <p class="card-text">Açıklama: Ürün 1 açıklaması burada.</p>
                        <a href="#" class="btn btn-primary">Ürünü İncele</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Özel Teklif</h2>
                <div class="card">
                    <img style="width:auto; height: 400px;" src="https://picsum.photos/200/300" class="card-img-top" alt="Özel Teklif">
                    <div class="card-body">
                        <h5 class="card-title">Özel Teklif</h5>
                        <p class="card-text">Sınırlı süreli özel teklifimizi kaçırmayın!</p>
                        <a href="#" class="btn btn-danger">Teklifi İncele</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt-4">Daha fazla ürün ve fırsatlar için tüm ürünlerimize göz atabilirsiniz.</p>
        <a class="btn btn-primary btn-lg"  routerLink="/products"role="button">Tüm Ürünleri Görüntüle</a>
    </div>
</div>