<div class="container mt-5">
    <!-- Hero Section -->
    <div class="container-fluid p-0">
        <div class="jumbotron text-center cardx  p-5">
          <h1 class="jumbotronHeader">Cartopia'a Hoşgeldiniz!</h1>
          <p class="jumbotronContent">
            Eğlenceli alışveriş deneyimine hoş geldiniz! Cartopia sizin için çeşitli ürünler sunarak alışverişinizi daha kolay ve keyifli hale getirmek için burada. Her zevke ve ihtiyaca yönelik geniş bir ürün yelpazesi sunuyoruz, böylece istediğiniz her şeyi kolayca bulabilirsiniz.
          </p>
        </div>
        <br>
        <br>
      </div>
      <div class="container text-center cardx">
        <h2>Markalar</h2>
        <ul class="brand-list row">
          <li *ngFor="let brand of uniqueBrandNames" class="buttons col">
            <button class="btn">
              <span></span><p data-text="Ziyaret Et!" [attr.data-title]="brand"></p>
            </button>
            
          </li>
        </ul>
      </div>
      <br>
      <br>
      <!--KAMPANYALAR-->
      <div class="jumbotron text-center  mb-5">
        <div class="card">
          <h2>Kampanyalar</h2>
        <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title">Special Offer 1</h5>
                  <p class="card-text">$9.99 <del>$14.99</del></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title">Special Offer 1</h5>
                  <p class="card-text">$9.99 <del>$14.99</del></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title">Special Offer 1</h5>
                  <p class="card-text">$9.99 <del>$14.99</del></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
      </div>
      
    
      <!-- ÖNE ÇIKAN 10 ÜRÜNLER -->
      <div class="jumbotron text-center mb-5">
        <div class="card">
          <h2>Öne Çıkan Ürünler</h2>
          <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 1</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 2</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 3</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row">
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 4</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 5</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 6</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row">
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 7</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 8</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body">
                      <h5 class="card-title">Special Offer 9</h5>
                      <p class="card-text">$9.99 <del>$14.99</del></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      
      <br>
      <br>
    
</div>