<div class="comment">
  <div class="contaier">
    <app-create *ngIf="!hasComment"></app-create>
    <div *ngIf="hasComment" class="container">
      <b>Sizin Yorumunuz:</b>
      <div class="card mb-1">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-1">
            <h5 class="card-title"><b>{{ userComment.userCommentTitle }}</b></h5>
            <span style="color:red" *ngIf="userComment.userScore<1">Yıldız Yok 😞</span>
            <ng-container *ngFor="let star of generateStars(userComment.userScore)">
              ⭐
          
            </ng-container>                
          </div>
          <p class="card-text">{{ userComment.userCommentContent }}</p>
          <div class="d-flex justify-content-between">
            <p class="card-text"><small class="text-muted">By: {{ userComment.userNameSurname }}</small></p>
            <p class="card-text"><small class="text-muted">{{ userComment.createDate | date }}</small></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    
    </div>
    
    <div class="container mt-4">
    <hr>

        <div>
          <h2>Ürün Yorumları</h2>
          <button *ngIf="!isLoading && comments.length>0" (click)="summarizeComment()" class="btn btn-sm btn-danger" style="float: right;">Yorumları Özetle</button>
          <button *ngIf="isLoading"  class="btn btn-sm btn-danger" style="float: right;">
            <span style="margin-right: 3px;" class="spinner-border spinner-border-sm" aria-hidden="true" disabled></span>
            <span role="status">Lütfen Bekleyiniz...</span>
          </button>
        </div>
        <br>
        <br>
        
        <div *ngIf="summarizedComment && !isLoading" class="alert alert-danger alert-dismissible  fade show" role="alert">
          Tüm Yorumların Özeti : <strong>{{summarizedComment.summaryOfComments}} Ortalama: {{summarizedComment.score_avarage}}</strong>
          
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
        <!-- Display comments -->
        <div *ngFor="let comment of comments" class="card mb-1">
            <div  class="card-body">
              <div class="d-flex justify-content-between mb-1">
                <h5 class="card-title"><b>{{ comment.userCommentTitle }}</b></h5>
                <span style="color:red" *ngIf="comment.userScore<1">Yıldız Yok 😞</span>
                <ng-container *ngFor="let star of generateStars(comment.userScore)">
                  ⭐
              
                </ng-container>                
              </div>
              <p class="card-text">{{ comment.userCommentContent }}</p>
              <div class="d-flex justify-content-between">
                <p class="card-text"><small class="text-muted">By: {{ comment.userNameSurname }}</small></p>
                <p class="card-text"><small class="text-muted">{{ comment.createDate | date }}</small></p>
              </div>
            </div>
          </div>
          
          
        
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="page === 0">
                <a style="cursor: pointer;" class="page-link" (click)="changePage(-1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              
              <li *ngFor="let pageIndex of getPageIndexes()" class="page-item" [class.active]="pageIndex === page">
                <a  (click)="changePage(pageIndex)"></a>
              </li>
              
              <li class="page-item" [class.disabled]="page === totalPages - 1">
                <a  style="cursor: pointer;" class="page-link" (click)="changePage(1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>