<div class="mt-2 p-2">
  <div class="container">
    <input [(ngModel)]="productName" (input)="searchProducts()" type="text" placeholder="Search" class="form-control mb-2 float" style="width: 200px;">

    <div class="row">
      <div class="col-md-3 mb-2 mr-2" *ngFor="let product of products">
        <div  class="card productCard" style="width: 16rem">
          <a href="abc">
            <img
          
            *ngIf="!product.productImageFiles.length"
            width="250px"
            height="250px"
            class="card-img-top"
            src="../../../../../assets/default-product-image.png"
            alt="Card image cap"
          />
          </a>
          <a href="xyz">
            <img
            *ngIf="product.productImageFiles.length"
            width="250px"
            height="250px"
            class="card-img-top "
            src="{{ baseUrl.url }}/{{ product.imagePath }}"
            alt="Card image cap"
          />
          </a>
          <span class="badge bg-success position-absolute top-0 start-0 translate-left m-2 ">
            {{product.categoryName}}
          </span>
          <div class="card-body">
            <h3 class="card-title  lineHeight">{{ (product.name)}}</h3>
            
            <div class="card-text m-2 d-flex justify-content-between">
              <span class="badge bg-primary">PRICE: {{ product.price | currency }}</span> <br />
              <span class="badge bg-secondary">STOCK: {{ product.stock }}</span>
            </div>
            <a (click)="addToBasket(product)" class="btn btn-warning w-100"><span class="text-black fw-normal">Add to Basket</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li
        routerLinkActive="active"
        class="page-item"
        *ngFor="let pageNo of pageList"
      >
        <a class="page-link" [routerLink]="['/products', pageNo + 1]">{{
          pageNo + 1 == 0 ? 'İlk sayfa' : pageNo + 1
        }}</a>
      </li>
    </ul>
  </nav>
</div>
