.card:hover {
    transform: scale(1.03);

  }

  .card {
    transition: transform 0.3s ease-in-out;
    margin: 5px;
  }

  .lineHeight {
    line-height: 1.2;
    text-align: justify;
    font-size: 12px;
    font-weight: 800;
    padding: 3px;
    text-overflow: ellipsis;
    height: 50px;
  }

  .productImage {
    width: 100%;
    max-height: 250px;
  }

  .productCard {
    
    max-width: 100%;
    background-color: #FFF6BD;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  }
  .searchInput{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-left: 4px;
  }
  .pag{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }