<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          ÖDEMELER
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="container">
            <a
              class="btn btn-sm btn-primary mb-1 float-end"
              href="https://dashboard.stripe.com/test/payments"
              target="_blank"
              >Stripe DASHBOARDA GİT</a
            >
            <table *ngIf="completedPayments" class="table table-hover table-bordered">
              <thead>
                <tr class="text-center">
                  <th scope="col">Ad Soyad</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tarih</th>
                  <th scope="col">Kartın Son 4 Hanesi</th>
                  <th scope="col">Kart Kullanım Tarihi (AY/YIL)</th>
                  <th scope="col">Alınan  Miktar</th>
                  <th scope="col">Para Birimi</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of completedPayments" class="text-center">
                  <td>{{ payment?.paymentDetail.billingDetails?.name }}</td>
                  <td>{{ payment?.paymentDetail.billingDetails?.email }}</td>
                  <td>{{ payment?.created | date: 'dd/MM/yyyy hh:mm a' }}</td>
                  <td>{{ payment?.paymentDetail.card.last4 ? '**** **** **** ' + payment.paymentDetail.card.last4 : 'N/A' }}</td>
                  <td>{{payment?.paymentDetail.card.expMonth}}/{{payment.paymentDetail.card.expYear}}</td>
                  <td>{{payment?.amount / 100 |currency:'TRY'}}</td>
                  <td>{{payment?.currency }}</td>
                </tr>
              </tbody>
            </table>
            <button
              (click)="moreCompletedPayment()"
              class="btn btn-sm btn-warning"
            >
              Daha Fazla Göster
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          İADE TALEPLERİ
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
       <div class="container">
        <table *ngIf="refunds?.length>0" class="table table-hover table-bordered">
          <thead>
            <tr class="text-center">
              <th scope="col">Ad Soyad</th>
              <th scope="col">Email</th>
              <th scope="col">Sipariş Kodu</th>
              <th scope="col">Oluşturulma Tarihi</th>
              <th scope="col">Durum</th>
              <th scope="col">Sipariş ve Ödeme Detayları</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let refund of refunds"  class="text-center">
              <td>{{refund.name}}</td>
              <td>{{refund.email}}</td>
              <td>{{refund.orderCode}}</td>
              <td>{{refund.createDate | date:'dd-MM-YYYY h:ms'}}</td>
              <td>{{refund.returnStatus}}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="getData(refund.orderCode)" >Göster</button>
                
              </td>
              <td><button class="btn btn-success btn-sm ">İade Talep Kabulü</button></td>
              <td><button class="btn btn-danger btn-sm ">İade Talep Reddi</button></td>
            </tr>
          </tbody>
        </table>
        <button
        (click)="moreRefunds()" 
        class="btn btn-sm btn-warning mb-2" 
        >
          Daha Fazla Göster
        </button>
       
       </div>
      </div>
    </div>
</div>
<br>
<br>
