<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">Ödeme Methodu</th>
            <th scope="col">Durum</th>
            <th scope="col">Para Birimi</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">Alınan Miktar</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let payment of completedPayments" class="text-center">
            <th scope="row">{{payment.paymentMethodTypes[0]}}</th>
            <td>{{payment.status}}</td>
            <td>{{payment.currency}}</td>
            <td>{{payment.created |date: 'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{payment.amount/100 |currency:'TRY'}}</td>
            <td><button class="btn btn-sm btn-warning w-100">Detay</button></td>
          </tr>
        </tbody>
      </table>
      <button click="moreCompletedPayment()" class="btn btn-sm btn-warning">Daha Fazla Göster</button>
</div>