
<mat-drawer-container class="product-container">
  
  <mat-drawer #drawer mode="over" >
    <app-create (createdProduct)="createdProduct($event)" ></app-create>
  </mat-drawer>
  <mat-drawer-content>  
    
      <div class="contianer">
        <button class="mx-2 my-1" type="button" mat-raised-button (click)="drawer.toggle()">
          Ürün Oluştur
        </button>
        <button class="mx-2 my-1" type="button" mat-raised-button (click)="showProductQrCodeReading()">
          QR Code Stok Güncelle
        </button>
        <button class="mx-2 my-1" type="button" mat-raised-button (click)="generateProductDescriptionGenerator()">
          Ürün Açıklama Oluşturucu
        </button>
      </div>
    
    <app-list></app-list>
  </mat-drawer-content>
</mat-drawer-container>
