<div class="">
    <nav  class="headerNav navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink=""><b>LOGO</b></a>
        <button style="margin-left: 120px;"   class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a id="deneme" class="cta nav-link active" aria-current="page" routerLink="products">
                <span class="hover-underline-animation"><span style="font-weight: 500">Tüm Ürünler</span></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a style="cursor:pointer" id="deneme" class="cta nav-link active" aria-current="page" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="hover-underline-animation"><span style="font-weight: 500">Kategoriler</span></span>
                <app-categories  ></app-categories>
              </a>
            </li>
            
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button class="signupBtn" routerLink="register" *ngIf="!authService.isAuthenticated">
                Kayıt Ol
                <span class="arrow">
                  <img class="registerIcon" src="../assets/add-person.png" alt="" />
                </span>
              </button>
            </li>
            <li class="nav-item">
              <button class="signinBtn" routerLink="login" *ngIf="!authService.isAuthenticated">
                Giriş Yap
                <span class="arrow">
                  <img class="registerIcon" src="../assets/login (1).png" alt="" />
                </span>
              </button>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li>
              <button class="signupBtn" *ngIf="authService.isAuthenticated" data-bs-toggle="modal" data-bs-target="#basketModal" (click)="loadComponent()">
                <span style="font-weight: 500; font-size: 15px;">Sepet</span>
                <span class="arrow">
                  <img class="registerIcon" src="../assets/shopping-online.png" alt="" />
                </span>
              </button>
            </li>
            <li>
              <button class="signupBtn" routerLink="settings" *ngIf="authService.isAuthenticated">
                <span style="font-weight: 500; font-size: 15px;">Ayarlar</span>
                <span class="arrow">
                  <img class="registerIcon" src="../assets/settings.png" alt="" />
                </span>
              </button>
            </li>
            <li class="nav-item">
              <button class="signupBtn" aria-current="page" routerLink="admin" *ngIf="authService.isAuthenticated && authService.hasRole">
                 Panel
                <span class="arrow">
                  <img class="dashboardIcon" src="../assets/dashboard.png" alt="" />
                </span>
              </button>
            </li>
            <li class="nav-item">
              <button class="signupBtn" aria-current="page" routerLink="admin" *ngIf="authService.isAuthenticated" (click)="signOut()">
                Çıkış Yap
                <span class="arrow">
                  <img class="registerIcon" src="../assets/power-button.png" alt="" />
                </span>
              </button>
            </li>
          </ul>
        </div>
        
      </div>
    </nav>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ngx-spinner name="clock" type="timer"></ngx-spinner>
  
  <ngx-spinner name="classic" type="ball-clip-rotate"></ngx-spinner>
  <div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <ng-template appDynamicLoadComponent></ng-template>
    </div>
  </div>
  