<div class="container">
  <div class="container">
    <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4">
        <div class="form-group">
            <label for="email">Email Adres</label>
            <input type="email" class="form-control" id="email" #txtEmail placeholder="Enter email">
            <button class="btn btn-primary my-2" (click)="passwordReset(txtEmail.value)">Gönder</button>
        </div>
     </div>
     <div class="col-md-4"></div>
    </div>
 </div>
</div>