<mat-form-field class="product-create">
  <mat-label>Ürün Adı</mat-label>
  <input matInput  #txtName/>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label>Marka</mat-label>
  <input matInput  #txtBrand/>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label>Kısa Açıklama</mat-label>
  <input matInput  #txtShortDescription/>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label>Stok</mat-label>
  <input matInput type="number" min="0" value="0"   #txtStock/>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label>Kategori Seçiniz</mat-label>
  <mat-select [(value)]="selected">
    <mat-option *ngFor="let ctg of categoryNameArr" value="{{ctg.id}}">{{ctg.categoryName}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label>Fiyat</mat-label>
  <input matInput type="number" min="0" value="0"   #txtPrice/>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label>Açıklama</mat-label>
  <input matInput type="text" #txtDescription/>
</mat-form-field>
<mat-form-field class="product-create">
  <mat-label >Özellikler</mat-label>
  <input matInput type="text"  #txtSpesification/>
</mat-form-field>

<button mat-raised-button color="warn" (click)="create(txtName,txtPrice,txtStock,txtDescription,txtShortDescription,txtBrand,txtSpesification)">Ürün Oluştur</button>

