<mat-dialog-content class="mat-typography">
  <mat-toolbar>
    <span>Sipariş No:{{ singleOrder.orderCode }}</span>
  </mat-toolbar>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 order-detail-table"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"><a (click)="closeDialog()" routerLink="/products/detail/{{element.productId}}">{{ element.name }}</a></td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price * element.quantity | currency }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.order-detail-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>


  <br />
  <div class="orderAddress">
    <p>Adres Bilgisi: {{ singleOrder.address }}</p>
  </div>
  <br />
  <div class="orderDescription">
    <p>Açıklama: {{ singleOrder.description }}</p>
  </div>
  <br />
  <div class="basketPrice">
    <p>Sepet Tutarı: {{ totalPrice | currency }}</p>
  </div>
  <mat-form-field style="margin: 5px;">
    <mat-label>Kargo Takip No</mat-label>
    <input  [(ngModel)]="trackCode" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kargo Şirketini Seçiniz</mat-label>
    <mat-select [(ngModel)]="selectedCompanyId" name="food">
      
        <mat-option *ngFor="let company of shippingCompanies" [value]="company.id">{{company.companyName}}</mat-option>
      
    </mat-select>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-right: 5px;">
  <button mat-button mat-dialog-close>Kapat</button>
  
  <button *ngIf="!singleOrder.completed"  (click)="completeOrder()" mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Siparişi Tamamla
  </button>
</mat-dialog-actions>
