<h1 mat-dialog-title>{{ data.name }} Rol Atama <p  matBadge=" {{rolesComponent.selectedOptions.selected.length}}/{{datas? datas.totalCount:'0'}}" matBadgeOverlap="false" class="demo-section"></p></h1>

<div mat-dialog-content>
   
    <p>İlgili endpointe aşağıdan rolleri atayınız.</p>
    <mat-selection-list #rolesComponent>
      {{isLoading?"Yükleniyor...":""}}
      <mat-list-option *ngFor="let role of listRoles" selected="{{role.selected}}">
        {{isLoading?"Yükleniyor...":role.name}}
      </mat-list-option>
    </mat-selection-list>
    
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">No</button>
  <button disabled="{{isLoading}}" mat-button  cdkFocusInitial (click)="assignRoles(rolesComponent)">{{isLoading?'Bekleyiniz..':'Rolleri Ata'}} </button>
</div>
