.create-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.product-create{
    margin: 5px 5px 5px;
}
button{
    margin: 5px;
}
.radio-group{
    padding: 5px;
    margin-bottom: 5px;
}

