<div class="colContent">
  <div>
    <h2>Tamamlanmamış Siparişler</h2>
  </div>
  <div *ngIf="isLoading" style="margin-top:100px;" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  
</div>
  <table *ngIf="!isLoading" class="table">
    <thead>
      <label for="size">Sipariş Sayısı:</label>
      <input
        (change)="getData($event)"
        style="width: 50px"
        min="0"
        type="number"
        value="{{startValue}}"
        name=""
        id="size"
      />
      <br />
      <br />
      <tr>
        <th scope="col">Sipariş Kodu</th>
        <th scope="col">Ad Soyad</th>
        <th scope="col">Fiyat</th>
        <th scope="col">Tarih</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="isLoading">
        <td>Yükleniyor....</td>
        <td>Yükleniyor....</td>
        <td>Yükleniyor....</td>
        <td>Yükleniyor....</td>
      </tr>
      <tr *ngFor="let order of UnCompletedOrder">
        <th scope="row">{{ order.orderCode }}</th>
        <td>{{ order.userName }}</td>
        <td>{{ order.totalPrice }}</td>
        <td>{{ order.createdDate | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
