<mat-list class="adminList" role="list">
    <div class="adminListItems">
      <mat-list-item role="listitem"><a  routerLink="/admin/">Gösterge Paneli</a></mat-list-item>
    <mat-list-item  role="listitem"><a routerLink="categories">Kategoriler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="orders">Siparişler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="products">Ürünler</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="authorize-menu">Yetki Paneli</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="roles">Rol Paneli</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="users">Kullanıcılar</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="shipping">Kargo İşlemleri</a></mat-list-item>
    </div>
  </mat-list>
