<div class="container p-3">
    <h3><b>Kategori Güncelle</b></h3>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Adı</label>
    <div class="col-sm-10">
      <input
        type="text"
        value="{{ data.name }}"
        #txtCategoryname
        class="form-control"
        id="name"
        placeholder="Email"
      />
    </div>
  </div>
  <br />
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Durum</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="gridRadios1"
            [checked]="data.isActive === true"
            (change)="data.isActive = true"
          />
          <label class="form-check-label" for="gridRadios1"> Aktif </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="gridRadios2"
            [checked]="data.isActive === false"
            (change)="data.isActive = false"
          />
          <label class="form-check-label" for="gridRadios2"> İnaktif </label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-10">
      <button
        (click)="updateCategory(data.id, txtCategoryname, data.isActive)"
        class="btn btn-primary btn-sm"
      >
        Güncelle
      </button>
    </div>
  </div>
</div>
