
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alışveriş Sepeti</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Adet</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="{{basketItem.basketItemId}}" *ngFor="let basketItem of basketItems; let i= index">
                <th scope="row">{{i+1}}</th>
                <td><a style="cursor: pointer;" (click)="route(basketItem.productId)"  >{{basketItem.name}}</a></td>
               
                <td id="priceValue" >{{basketItem.price}} $</td>
                <td>
                  <input
                  id="quantityInput"
                  style="width: 60px; "
                  class="form-control-sm"
                  min="1"
                  type="number"
                  [value]="basketItem.quantity"
                  data-id="{{basketItem.basketItemId}}"
                  (change)="changeQuantity($event, basketItem)"
                >
              
                </td>
                <td><button class="btn btn-danger btn-sm" (click)="removeBasketItem(basketItem.basketItemId)">X</button></td>
              </tr>
            </tbody>
            
          </table>
        </div>
        <div *ngIf="address?.address!=false" class="container">
          <div class="card bg-primary">
            <div class="card-body">
              <h5 class="card-title text-light">Adres Bilgileri</h5>
              <p class="card-text text-light"><b>Adres:</b> {{address?.address?.addressInfo}}</p>
              <p class="card-text text-light"><b>Adres Tarifi:</b> {{address?.address?.directions}}</p>
              <p class="card-text text-light"><b>Şehir/İlçe:</b> {{address?.address?.city}}/{{address?.address?.county}}</p>
              <p class="card-text text-light"><b>Telefon Numarası:</b> {{address?.address?.telNumber}}</p>
              <hr class="text-light">
              
              <textarea [(ngModel)]="userMessage" placeholder="Mesajınızı yazınız." class="form-control" aria-label="With textarea"></textarea>
              <br>
              <p class="card-text fs-5 text-light text-end bold">
                <b>Sepet Tutarı:</b> {{totalBasketPrice}}$
              </p>

            </div>
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
          İptal
        </button>
        <button type="button" class="btn btn-outline-success" (click)="completeShopping()">Alışverişi Tamamla</button>
      </div>
    </div>
  