
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alışveriş Sepeti</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ürün Adı</th>
              <th scope="col">Fiyat</th>
              <th scope="col">Adet</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="{{basketItem.basketItemId}}" *ngFor="let basketItem of basketItems; let i= index">
              <th scope="row">{{i+1}}</th>
              <td>{{basketItem.name}}</td>
              <td >{{basketItem.price}} $</td>
              <td><input style="width: 60px; " class="form-control-sm" type="number" [value]="basketItem.quantity" data-id="{{basketItem.basketItemId}}" (change)="changeQuantity($event)"></td>
              <td><button class="btn btn-danger btn-sm" (click)="removeBasketItem(basketItem.basketItemId)">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
          İptal
        </button>
        <button type="button" class="btn btn-outline-success">Alışverişi Tamamla</button>
      </div>
    </div>
  