<div class="mat-elevation-z8">
  <div style="float: right; margin: 10px;">
    <button class="btn btn-danger btn-sm "*ngIf="orderComplete" (click)="changeComplete()">Tamamlanmamış Siparişler</button>
    <button class="btn btn-success btn-sm" *ngIf="!orderComplete" (click)="changeComplete()">Tamamlanmış Siparişler</button>
  </div>
    <table mat-table [dataSource]="dataSource">
    
      <ng-container matColumnDef="orderCode">
        <th mat-header-cell *matHeaderCellDef>Sipariş Kodu</th>
        <td mat-cell *matCellDef="let element">{{ element.orderCode }}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Kullanıcı Adı</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef>Toplam Fiyat</th>
        <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Oluşturulma Tarihi</th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate  | date:'dd/MM/yyyy HH:mm'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef>Durum</th>
        <td  mat-cell *matCellDef="let element"><img *ngIf="element.completed"   style=" margin-left: 5px; width:40px;" src="../../../../../assets/shop-completed.png" alt="completed">
          <img *ngIf="!element.completed"   style=" margin-left: 5px; width:40px;" src="../../../../../assets/shop-wait.png" alt="waiting">
        </td>
      </ng-container>
      

      <ng-container matColumnDef="viewDetail">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><img (click)="showDetail(element.id)" style="cursor: pointer; width:25px;" src="../../../../../assets/detail.png" alt=""></td>
      </ng-container>
      
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
   
  
    <mat-paginator (page)="pageChange()"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
  