<div class="colContent">
  
   <div class="canvas">
    <canvas   #barCanvas> </canvas>
   </div>
    <div class="canvasContent">
      
      <h2>Stokta Azalan Ürünler</h2>
      <div class="chartLegend">
        <div class="chartLegend">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products?.lowStockProducts" >
                <th ><a [routerLink]="['/products/detail/',product.id]" >{{product.name}}</a></th>
               
                <td>{{product.stock}} <img style="width: 20px; height: 20px;" *ngIf="product.stock<5" src="../../../../../assets/warningbadge.png" alt=""></td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  