<div class="colContent">
  
   <div class="canvas">
    <canvas   #barCanvas> </canvas>
   </div>
    <div class="canvasContent">
      <div >
        <div class="input-group input-group-sm mb-1 mt-1 mx-1">
          <button (click)="createPdf(txtProductSize)" class="btn btn-success" type="button" id="button-addon1">Rapor Oluştur</button>
          <input #txtProductSize type="number" class="form-control" placeholder="Ürün Sayısı" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        </div>
      <h2>Stokta Azalan Ürünler</h2>
      <div class="chartLegend">
        <div class="chartLegend">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products?.lowStockProducts" >
                <th ><a [routerLink]="['/products/detail/',product.id]" >{{product.name.slice(0,10)}}</a></th>
               
                <td>{{product.stock}} <img style="width: 20px; height: 20px;" *ngIf="product.stock<5" src="../../../../../assets/warningbadge.png" alt=""></td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  
  <div style="display: none;">
    <table id="stockTable">
      <thead>
        <tr>
          <th>Marka</th>
          <th>Urun Adi</th>
          <th>Urun Stogu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of leastStockedProducts">
          <td>{{pro.brand}}</td>
          <td>{{pro.name}}</td>
          <td>{{pro.stock}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
 