<h2 mat-dialog-title>Ürün Resimleri</h2>
<mat-dialog-content class="mat-typography">
  <app-file-upload [options]="options"></app-file-upload>


  <div class="images">
    <p *ngIf="!images">Resimler Yükleniyor...</p>
    <mat-card  class="product-image-card" *ngFor="let image of images">
      <p style="margin-left: 38%;">{{image.showcase?'MEVCUT':''}}</p>
      <input type="radio" name="img" (click)="showCase(image.id)"  >
      <br>
      <img class="productImage"  mat-card-image [src]="image.path" [alt]="image.fileName">
      
      <mat-card-actions>
        <button  mat-button class="product-image-button w-100"  (click)="deleteImage(image.id,$event)" mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

