<div class="container">
  <div class="row">
    <div class="col-md-8">
    <div #harita class="container" id="harita" style="height: 550px"></div>
    </div>
    <div class="col-md-4">
        <div class="row">
                <div >
                  <div class="card">
                    <div class="card-body">
                        
                        <div class="form-group">
                            <div *ngIf="userHasAddress==false" class="form-group">
                                <button  class="btn btn-sm btn-primary w-100"  data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">Adres Ekle</button>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                     
                                        <div class="form-group">
                                            <label for="nameSurname">Ad Soyad</label>
                                            <input
                                                value="{{nameSurname}}"
                                              #txtName
                                              type="text"
                                              formControlName="nameSurname"
                                              class="form-control"
                                              id="nameSurname"
                                              placeholder="Ad Soyad"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label for="telNum">Telefon Numarası</label>
                                            <input
                                              #txtTelNo
                                              type="tel"
                                              formControlName="telNum"
                                              class="form-control"
                                              id="telNum"
                                              placeholder="Telefon Numarası"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label for="city">Şehir</label>
                                            <input
                                              value="{{ address.city }}"
                                              #txtCity
                                              type="text"
                                              formControlName="city"
                                              class="form-control"
                                              id="city"
                                              placeholder="Şehir"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label for="county">İlçe</label>
                                            <input
                                              value="{{ address.county }}"
                                              #txtCounty
                                              type="text"
                                              formControlName="county"
                                              class="form-control"
                                              id="county"
                                              placeholder="İlçe"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label for="addressInfo">Adres Bilgileri</label>
                                            <input
                                              value="{{ address.label }}"
                                              #txtAddressInfo
                                              type="text"
                                              formControlName="addressInfo"
                                              class="form-control"
                                              id="addressInfo"
                                              placeholder="Adres Bilgileri"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label for="directions">Adres Tarifi</label>
                                            <input
                                              #txtDirections
                                              type="text"
                                              formControlName="directions"
                                              class="form-control"
                                              id="directions"
                                              placeholder="Adres Tarifi"
                                            />
                                          </div>
                                          <br />
                                          <button class="btn btn-primary" (click)="CreateNewAddress(txtName,txtTelNo,txtCity,txtCounty,txtAddressInfo,txtDirections)">Adresi Ekle</button>
                                    </div>
                                  </div>
                                <br>
                                <br>
                              </div>
                            <button   *ngIf="userHasAddress!=false" (click)="changeAddress()" class="btn btn-sm btn-primary w-100"  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"  >Adresimi Göster</button>
                            <div  class="collapse" id="collapseExample">
                                <div *ngIf="initialAddress!=null" class="card card-body">
                                {{initialAddress.address.nameSurname}}, {{initialAddress.address.telNumber}} <br>
                                  {{initialAddress.address.city}}/{{initialAddress.address.county}} , {{initialAddress.address.addressInfo}} <br>
                                  {{initialAddress.address.directions}}
                                </div>
                              </div>
                            <br>
                            <br>
                          </div>
                          <div *ngIf="userHasAddress!=false" class="form-group">
                            <button  class="btn btn-sm btn-primary w-100"  data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">Adresimi Güncelle</button>
                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body">
                                 
                                    <div class="form-group">
                                        <label for="nameSurname">Ad Soyad</label>
                                        <input
                                            value="{{nameSurname}}"
                                          #txtName
                                          type="text"
                                          formControlName="nameSurname"
                                          class="form-control"
                                          id="nameSurname"
                                          placeholder="Ad Soyad"
                                        />
                                      </div>
                                      <div class="form-group">
                                        <label for="telNum">Telefon Numarası</label>
                                        <input
                                          #txtTelNo
                                          type="tel"
                                          formControlName="telNum"
                                          class="form-control"
                                          id="telNum"
                                          placeholder="Telefon Numarası"
                                        />
                                      </div>
                                      <div class="form-group">
                                        <label for="city">Şehir</label>
                                        <input
                                          value="{{ address.city }}"
                                          #txtCity
                                          type="text"
                                          formControlName="city"
                                          class="form-control"
                                          id="city"
                                          placeholder="Şehir"
                                        />
                                      </div>
                                      <div class="form-group">
                                        <label for="county">İlçe</label>
                                        <input
                                          value="{{ address.county }}"
                                          #txtCounty
                                          type="text"
                                          formControlName="county"
                                          class="form-control"
                                          id="county"
                                          placeholder="İlçe"
                                        />
                                      </div>
                                      <div class="form-group">
                                        <label for="addressInfo">Adres Bilgileri</label>
                                        <input
                                          value="{{ address.label }}"
                                          #txtAddressInfo
                                          type="text"
                                          formControlName="addressInfo"
                                          class="form-control"
                                          id="addressInfo"
                                          placeholder="Adres Bilgileri"
                                        />
                                      </div>
                                      <div class="form-group">
                                        <label for="directions">Adres Tarifi</label>
                                        <input
                                          #txtDirections
                                          type="text"
                                          formControlName="directions"
                                          class="form-control"
                                          id="directions"
                                          placeholder="Adres Tarifi"
                                        />
                                      </div>
                                      <br />
                                      <button class="btn btn-primary" (click)="updateAddress(txtName,txtTelNo,txtCity,txtCounty,txtAddressInfo,txtDirections)">Güncelle</button>
                                </div>
                              </div>
                            <br>
                            <br>
                          </div>
                          
                      
                    </div>
                  </div>
                </div>
              </div>
          </div>
    </div>
  </div>



